@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.App {
  margin: 5% 20% auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 3em;
}

.recipes {
  margin-top: 4em;
}
